@charset "UTF-8";

// 1. Vendors
@use 'vendors/normalize';

// 2. Base stuff
@use 'base/base';
@use 'base/fonts';
@use 'base/helpers';
@use 'base/typography';

// 3. Layout-related sections
@use 'layout/footer';
@use 'layout/header';

// 4. Components
@use 'components/button';

// 5. Pages
@use 'pages/home';

// 6. Themes
@use 'themes/default';


body{
    background-image: url(../img/background.png);
    background-repeat:no-repeat;
    background-size: 100%;
}
div.fondo_mujer{
    background-image: url(../img/mujer.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 250px 0px;


}

div.hero {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    & h1{
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style:normal;
        font-size: 50px;
        color: #264065;
        margin-bottom: 0;
    }
    & p{
        color: #909090;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style:normal;
        font-size: 18px;
        margin-bottom: 0;

    }

}
div.botton_hero ul{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style:normal;
    font-size: 18px;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    margin-left: -30px;
    & li:nth-child(1) a{
        display: inline-block;
        background-color: #264065;
        color: white;
        text-decoration: none;
        padding: 15px 40px;
        border-radius: 40px;
        &:hover{
            text-decoration: underline;

        }
    }
    & li:nth-child(2){
        display: flex;
        align-items: center;
        justify-items: center;
        & img{
            width: 130px;
            margin-top: 40px;
        }
        & a {
            margin-left: -30px;
            color: #264065;
        }
    }
}
section.numeros {
    display: flex;
    max-width: 36%;
    justify-content: space-between;
    margin-left:60px;
    margin-top: 20px;
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    z-index: 1;
    transform: translateY(-40px);
    & article{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        & img{
            width: 50px;
        }
        & h3{
            color: #264065;
            font-family: "Poppins", sans-serif;
        }
        & p{
            margin-top: 0;
            text-align: center;
            color: #909090;
            font-family:"Poppins", sans-serif;
            font-size: 12px;
            width: 95px;
        }

    }
}
aside.opinion1 {
    width: 280px;
    background-color:rgb(rgb(255, 255, 255),0.3);
    border-radius: 16px;
    padding: 20px 10px;
    font-family:"Poppins", sans-serif;
    translate: 980px -500px;
    & img{
        width: 20px;
        margin-bottom: 0;
    }
    & p{
        margin-top: 0;
        font-size: 10px;
    }
    & p.nombre{
        color: #264065;
        font-weight: 600;
        font-size: 15px;
    }
}
aside.opinion2{
    width: 280px;
    background-color:rgb(rgb(255, 255, 255),0.3);
    border-radius: 16px;
    padding: 20px 10px;
    font-family:"Poppins", sans-serif;
    translate: 900px -450px;
    & img{
        width: 20px;
        margin-bottom: 0;
    }
    & p{
        margin-top: 0;
        font-size: 10px;
    }
    & p.nombre{
        color: #264065;
        font-weight: 600;
        font-size: 15px;
    }

}
